@model IEnumerable<UserManagerViewModel>

@{
    ViewData["Title"] = "Users";
}



@if (Model.Any())
{
    <table id="usersTable" class="table table-striped table-hover mt-4">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(u => u.First().Id)</th>
                <th>@Html.DisplayNameFor(u => u.First().FirstName)</th>
                <th>@Html.DisplayNameFor(u => u.First().LastName)</th>
                <th>@Html.DisplayNameFor(u => u.First().Email)</th>
                <th>@Html.DisplayNameFor(u => u.First().PhoneNumber)</th>
                <th>@Html.DisplayNameFor(u => u.First().Roles)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => user.Id)</td>
                    <td>@Html.DisplayFor(x => user.FirstName)</td>
                    <td>@Html.DisplayFor(x => user.LastName)</td>
                    <td>@Html.DisplayFor(x => user.Email)</td>
                    <td>@Html.DisplayFor(x => user.PhoneNumber)</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <partial name="_ButtonsPartial" model="@user.Id" />
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3">
        <h3>There are No Users :(</h3>
    </div>
}
